{
    "presets": [
        "env",
        "flow"
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-object-rest-spread"
    ],
    "env": ["transform-es2015-modules-commonjs"]
}